.xcuserstate
.DS_Store
.Trashes
Thumbs.db
*.xcuserstate
CalendarQuickView.xcodeproj/xcuserdata/michaelellis.xcuserdatad/xcschemes/xcschememanagement.plist
CalendarQuickView.xcodeproj/project.xcworkspace/xcuserdata/michaelellis.xcuserdatad/UserInterfaceState.xcuserstate
CalendarQuickView.xcodeproj/project.xcworkspace/xcuserdata/michaelellis.xcuserdatad/UserInterfaceState.xcuserstate
CalendarQuickView.xcodeproj/xcuserdata/michaelellis.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
CalendarQuickView.xcodeproj/project.xcworkspace/xcuserdata/michaelellis.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
*.cer
*.p12
*.certSigningRequest
*.mobileprovision
*.provisionprofile
*.zip
fastlane_match_repo/
