.xcuserstate
.DS_Store
.Trashes
Thumbs.db
*.xcuserstate
CalendarQuickView.xcodeproj/xcuserdata/michaelellis.xcuserdatad/xcschemes/xcschememanagement.plist
CalendarQuickView.xcodeproj/project.xcworkspace/xcuserdata/michaelellis.xcuserdatad/UserInterfaceState.xcuserstate
